.service-detail {
  transition: all 0.4s;
}

.service-detail .card {
  border-radius: 20px;
  transition: 0.4s ease-out;
  z-index: 1;
}

.service-detail .card:hover {
  box-shadow: 0px 7px 10px rgba(4, 242, 238, 0.489);
  transform: translateY(-20px);
}

.service-detail .card:hover::before {
  transform: scaleY(1);
}

.service-detail .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #e7fdff;
  border-radius: 15px;
  z-index: -1;
  transition: transform 300ms ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
}

.service-detail .card:hover .card-body > div {
  display: block;
  opacity: 1;
}

.service-detail .card .card-body > div {
  display: none;
  position: relative;
  z-index: 3;
  opacity: 0;
  bottom: 16px;
  color: white;
  transition: opacity 0.5s ease-in-out, display 0.5s ease-in-out;
}