.banner-bg{
    background-color: #ffdd59;
}
.banner-img{
    max-height: 900px;
}
.banner-title{
    font-size: 50px;
}


@media only screen and (max-width: 700px) {
      .banner-title{
        font-size: 35px;
    }
    .banner-img{
        height: auto;
    }
  }